doctype html
html
  head
    title= `${title}`
    script(language="javascript" src="js/bootstrap.min.js")
    link(rel="stylesheet" href="css/bootstrap.min.css")

  body
    div.container-fluid
        div.card.mt-4
            div.card-header
                h1.text-center Search Company Information

            block content